/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass/reset"

@font-face
  font-family: RobotoB
  src: url(../static/fonts/RobotoBold.ttf)


@font-face
  font-family: RobotoL
  src: url(../static/fonts/RobotoLight.ttf)


@font-face
  font-family: RobotoM
  src: url(../static/fonts/RobotoMedium.ttf)

$orange: #f4b642
$fiolet: #6848a8
$blue: #DDE3FF
.photo-player
  width: 75px
  height: 75px
  border: 1px solid transparent
  border-radius: 50%

.card-player
  display: flex
  flex-direction: row
  font-family: RobotoL
  font-size: 18px
  padding: 10px
  border: 3px solid $fiolet
  background: $blue
  margin: 0

.info-player
  padding-left: 20px
  display: flex
  flex-direction: column
  justify-content: space-around

.info-player span
  display: block

.money-player
  display: flex

.card-bet
  margin: 0
  margin-top: 20px
  font-family: RobotoL
  font-size: 18px
  padding: 0
  border: 3px solid $fiolet

.card-bet .title
  display: block
  background: $blue
  text-align: center
  font-family: RobotoM
  font-size: 22px
  padding-top: 15px
  height: 50px

.sum-card
  padding: 10px


.choose-bet .bet-amount
  display: block
  padding: 5px
  text-align: center
  font-family: RobotoM
  font-size: 22px
  background: $blue
  border: 1px solid $fiolet
  width: 80px
  cursor: pointer
  transition: 0.2s
  &:hover
    background: $fiolet
    color: $orange
  &:focus
    background: #000

.choose-bet
  display: flex
  flex-direction: column
  align-items: center
  margin: 10px 0

.f-row
  display: flex
.s-row
  display: flex

.form-inline
  display: flex
  flex-direction: column
  align-items: center

.myinput
  width: 200px

.input-group
  width: 80%
  margin-left: 10%

.input-group-addon
  background: #C2D69B

.my-main-table
  border: 3px solid $fiolet
  padding: 20px
  margin-left: 20px
  // display: flex
  // justify-content: space-between


#r-card-2
  margin-left: 70px

.coloda-time
  // display: flex
  // flex-grow: 1
  margin: 10px
  margin-left: 15px

.my-coloda
  height: 215px
  width: 154px
  margin: 0
  background: url(../static/img/clubs-card.jpg) -696px -455px no-repeat

.random-card
  position: relative
  background: url(../static/img/clubs-card.jpg) 0 0
  width: 154px
  height: 214px
  margin: 10px
  margin-left: 100px


.random-card span
  position: absolute
  font-family: RobotoL

.diller
  bottom: -20px
  left: 50%
  transform: translateX(-50%)

#r-card-1 .win
  top: 42%
  left: -90px

#r-card-1 .coef
  top: 52%
  left: -75px

#r-card-2 .win
  top: 42%
  right: -90px

#r-card-2 .coef
  top: 52%
  right: -75px

.battle
  top: 42%
  right: -45px

#r-card-1 .coef-battle
  top: 52%
  right: -54px

.coloda-time
  margin-left: 120px

.my-coloda
  position: relative

.time
  position: absolute
  bottom: -20px
  left: 50%
  transform: translateX(-50%)
