@font-face {
  font-family: Berlin;
  src: url(../fonts/berlin.ttf);
}

@font-face {
  font-family: RobotoB;
  src: url(../fonts/RobotoBold.ttf);
}

@font-face {
  font-family: RobotoL;
  src: url(../fonts/RobotoLight.ttf);
}

@font-face {
  font-family: RobotoM;
  src: url(../fonts/RobotoMedium.ttf);
}

* {
  font-family: RobotoL;
}
#header {
  padding: 20px 0;
  padding-bottom: 30px;
}

.brand {
  display: block;
  font-family: Berlin;
  font-size: 50px;
}

.slogan {
  display: block;
  position: absolute;
  top: 90%;
  left: 20px;
  color: #6848a8;
  margin-top: 10px;
}
#mobmenu {
  display: none;
  text-decoration: none;
  color: #000;
  transform: translateY(50%);
}
#menu {
  padding: 15px 0;
  margin: 0;
  float:right;
}
#menu > li {
  list-style: none;
  display: inline-block;
  font-size: 22px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  margin-left: -.36em;
  transition: .2s;
}
#menu > li:hover {
  border-bottom: 1px solid #f4b642;
}
#menu > li:hover a{
  transform: translateY(-2px);
}
#menu li a {
  display: block;
  text-decoration: none;
  padding: 5px 30px;
  padding-bottom: 10px;
  color: #6848a8;
  transition: .2s;
  font-family: RobotoL;
}

#menu i {
  font-size: 30px;
  transition: .3s;
}

@media screen and (min-width: 992px) and (max-width:1130px) {
  #menu li a {
    padding: 5px 30px;
  }
}

@media screen and (max-width: 992px){
    #menu {
      display: none;
      float: none;
      position: absolute;
      top: 25px;
      left: 0;
      width: 100%;
      z-index: 3;
      background: #fff;
    }
    #menu > li {
      display: block;
    }
    #menu > li a {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #menu > li:hover {
      background: #f4b642;
    }
    #menu > li:hover a{
      transform: none;
    }
    #mobmenu {
      display: block;
      position: absolute;
      top: 0;
      right: 10%;
      transform: translateY(-100%);
    }

}
@media screen and (max-width: 768px){

}
