@font-face {
  font-family: Berlin;
  src: url(../fonts/berlin.ttf);
}

@font-face {
  font-family: RobotoB;
  src: url(../fonts/RobotoBold.ttf);
}

@font-face {
  font-family: RobotoL;
  src: url(../fonts/RobotoLight.ttf);
}

@font-face {
  font-family: RobotoM;
  src: url(../fonts/RobotoMedium.ttf);
}

* {
  font-family: RobotoL;
}
#header {
  padding: 20px 0;
  padding-bottom: 30px;
}

.brand {
  display: block;
  font-family: Berlin;
  font-size: 50px;
}

.slogan {
  display: block;
  position: absolute;
  top: 90%;
  left: 20px;
  color: #6848a8;
  margin-top: 10px;
}
#mobmenu {
  display: none;
  text-decoration: none;
  color: #000;
  transform: translateY(50%);
}
#menu {
  padding: 15px 0;
  margin: 0;
  float:right;
}
#menu > li {
  list-style: none;
  display: inline-block;
  font-size: 22px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  margin-left: -.36em;
  transition: .2s;
}
#menu > li:hover {
  border-bottom: 1px solid #f4b642;
}
#menu > li:hover a{
  transform: translateY(-2px);
}
#menu li a {
  display: block;
  text-decoration: none;
  padding: 5px 30px;
  padding-bottom: 10px;
  color: #6848a8;
  transition: .2s;
  font-family: RobotoL;
  cursor: pointer;
}

#menu i {
  font-size: 30px;
  transition: .3s;
}

#footer {
  background: #B8CCE4;
  padding: 15px 0;
  height: 70px;
  font-family: RobotoL;
}
.links {
  margin-bottom: 10px;
}
.links a {
  color: #1F497D;
}

.links li {
  display: inline-block;
}
.links li:first-child{
  border-right: 1px solid #1F497D;
  padding-right: 10px;
  margin-right: 5px;
}

.modal-header {
  background: #a8c9ff;
}

.modal-footer {
  background: #f2f2f2;
}


.ent>button {
  width:100px;
}
.modal {
  font-family: RobotoL;
}
.modal .form-group input {
    margin-top: 10px;
}
.modal h4 {
  font-family: RobotoM;
  text-transform: uppercase;
}
.form-balance {
  font-size: 22px;
}

.tabs-bet {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: RobotoM;
  display: block;
  height: 147px;
}
.tabs li {
  float: left;
}
.tabs li:first-child {
  background-color: #6848a8;
  color: #fff;
}
.tabs li > input {
  display: none;
}
.tabs li > label {
  display: inline-block;
  border: 3px solid #6848a8;
  border-right-width: 0;
  border-bottom-width: 0;
  height: 30px;
  padding: 5px 20px;
  cursor: pointer;
  line-height: 15px;
}
.tabs li:last-child > label {
  border-right-width: 3px;
}
.tabs .tab-content {
    display: none;
    position: absolute;
    left: 0;
    border: 3px solid #6848a8;
    border-bottom: none;
}
/*.tabs:after {
  content: "";
  clear: both;
  display: block;
  height: 300px;
}*/
.tabs li > input:checked + label {
  background-color: #e7d3ff;
}

.tabs li > input:checked ~ .tab-content {
  display: block;
  width: 100%;
}
.bet {
  border-bottom: 3px solid #6848a8;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.bet:focus {
  background-color: #e7d3ff;
}
.bet:hover {
  background-color: #e7d3ff;
}
.coef-bet-tab {
  position: absolute;
  right: 5%;
}

.input-group input,.input-group-addon  {
  font-size: 20px;
  font-family: RobotoM;
}


@media screen and (min-width: 992px) and (max-width: 1200px){
  .tabs li > label {
    padding: 5px 10px;
  }
  .my-coloda {
    width: 0 !important;
    height: 0 !important;
    background: #fff;
  }
  .time {
    transform: translateX(520%) !important;
  }
  .balance {
    margin-left: -2px;
  }
  .choose-bet .bet-amount {
    width: 70px !important;
  }
  #menu li a {
    padding: 5px 17px;
  }
}

@media screen and (max-width: 992px){
    #menu {
      display: none;
      float: none;
      position: absolute;
      top: 25px;
      left: 0;
      width: 100%;
      z-index: 3;
      background: #fff;
    }
    #menu > li {
      display: block;
    }
    #menu > li a {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #menu > li:hover {
      background: #f4b642;
    }
    #menu > li:hover a{
      transform: none;
    }
    #mobmenu {
      display: block;
      position: absolute;
      top: 0;
      right: 10%;
      transform: translateY(-100%);
    }

  #main {
    margin: 0 20px;
  }
  #main .col-md-9 {
    padding: 0 !important;
  }
  .brand {
    font-size: 40px;
  }
  .slogan {
    font-size: 14px;
  }
  .my-main-table {
    padding: 20px;
    margin: 20px 0 !important;
  }
  .my-main-table .col-md-2 {
    padding: 0 !important;
  }
  #r-card-2 {
  }
  .coloda-time {
    margin: 0 !important;
  }
  .random-card {
    margin: 20px 0 !important;
  }
  .diller {
    bottom: auto !important;
    left: auto !important;
    top: 30%;
    right: -110px;
  }
  .win {
    left: auto !important;
    top: 44% !important;
    right: -85px !important;
  }
  .coef {
    left: auto !important;
    top: 54% !important;
    right: -65px !important;
  }

  .battle {
    display: none;
  }

  #r-card-1 .coef-battle {
    display: none;
  }
  .time {
    position: absolute !important;
    transform: translateY(-50%) !important;
    bottom: auto !important;
    left: auto !important;
    top: 50%;
    right: -65px;
  }
  .tabs-bet {
    margin-left: 0;
  }
  .tabs li  {
    float: none;
    z-index: 3;
  }
  .bet {
    z-index: 1;
  }
  #footer {
    font-size: 14px;
  }

}
